body {
  font-family: Inter, sans-serif;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
}

.container {
  margin-top: 4rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 10;
  border-bottom: 1px solid #f2f4f7;
}

.nav-bar .nav-branding {
  width: 100px;
  position: relative;
  z-index: 999;
}
.nav-bar .nav-branding img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.nav-bar .nav-menu {
  padding: 0;
  display: flex;
  margin-bottom: 0;
}

.nav-item:last-child {
  background: #ef6820;
  border-radius: 10px;
  margin-left: 1rem;
}
.nav-item:last-child a {
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  transition: all 0s;
}

.nav-item:last-child a:hover {
  background: #f38744;
  border-radius: 10px;
}

.nav-link:hover,
.nav-link:focus {
  transition: all 0.2s ease;
  color: #ef6820;
  text-decoration: none;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.bar {
  display: block;
  background-color: #000;
  width: 24px;
  height: 2px;
  margin: 6px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.main-1,
.main-2,
.main-3,
.main-4,
.main-5 {
  padding: 6rem 0 2rem;
}

.main-1 .main-1-top,
.main-2 .main-2-top,
.main-3 .main-3-top,
.main-5 .main-5-top {
  text-align: center;
}

.main-1 .main-1-top .text-or,
.main-2 .main-2-top .text-or,
.main-3 .main-3-top .text-or {
  color: #ef6820;
  font-weight: 600;
  margin-bottom: 1rem;
}

.main-1 .main-1-top h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600 !important;
}

.main-1 .main-1-top p,
.main-2 .main-2-top p,
.main-5 .main-5-top p {
  font-size: 1.125rem;
  color: #475467;
  padding: 0 12rem;
}

.main-1 .main-1-top a {
  background: #ef6820;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 1rem 1.2rem;
  width: max-content;
  margin: 3rem auto;
}

.main-1 .main-1-top a:hover {
  background: #f38744;
  text-decoration: none;
}

.main-1 .main-1-mid {
  max-width: 77%;
  margin: 0 auto;
  position: relative;
  z-index: 9;
}

.main-1 .main-1-mid img {
  max-width: 100%;
  object-fit: cover;
}

.main-1 .main-1-mid .img-small {
  max-width: 25%;
  position: absolute;
  z-index: -1;
}

.main-1 .main-1-mid .img-small.is-left-top {
  top: 0%;
  left: -14%;
}

.main-1 .main-1-mid .img-small.is-left-bot {
  bottom: 0;
  left: -15%;
  z-index: 10;
}

.main-1 .main-1-mid .img-small.is-right-top {
  right: -18%;
  top: 0;
}

.main-1 .main-1-mid .img-small.is-right-bot {
  right: -18%;
  bottom: 0;
  z-index: 10;
}

.main-1 .main-1-mid .img-small.is-cen-bot {
  z-index: 10;
  left: 39%;
  bottom: 0;
}

.main-1 .main-1-bot p {
  color: #475467;
  margin-top: 2rem;
}

.main-1 .main-1-bot p a {
  color: #475467;
  text-decoration: underline;
  transition: all 0.2s;
}

.main-1 .main-1-bot p a:hover {
  color: #ef6820;
}

.main-2 .main-2-top h2,
.main-5 .main-5-top h2 {
  font-size: 2.25rem;
  font-weight: 600 !important;
  padding: 0 15rem;
  line-height: 1.2;
  text-align: center;
  margin: 2rem 0;
}

.main-2 .main-2-mid {
  margin-bottom: 4rem;
}

.main-2 .main-2-mid .list-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-2 .main-2-mid .list-title .items {
  text-align: center;
  margin-bottom: 2rem;
}

.main-2 .main-2-mid .list-title .items img {
  max-width: 100%;
  object-fit: cover;
}

.main-2 .main-2-mid .list-title .items .items-name {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem 0;
}

.main-2 .main-2-mid .list-title .items p {
  font-size: 1rem;
  color: #475467;
}

.main-2 .main-2-mid .video iframe {
  width: 99%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  margin: auto;
  border: none;
}

.main-3 .main-3-top h2 {
  font-size: 2.25rem;
  font-weight: 600 !important;
  padding: 0 10rem;
  line-height: 1.2;
  text-align: center;
}

.main-3 .main-3-mid ul li {
  width: 33.3%;
  border-top: 5px;
  padding: 1rem;
}

.main-3 .main-3-mid .tab-content .tab-pane img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.main-3 .main-3-mid ul li .nav-link h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  color: #222;
}

.main-3 .main-3-mid ul li .nav-link p {
  color: #475467;
  margin-bottom: 0;
}

.main-3 .main-3-mid .tab-content .tab-pane {
  padding-bottom: 2rem;
}

.nav-pills .nav-link {
  border-top: 5px solid;
  border-color: #fff;
  transition: all 0.2s;
  padding: 1rem;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
  background-color: #fff;
  color: #000;
  border-top: 5px solid #ef6820;
  border-radius: 0;
}

.main-4 .main-4-img img {
  max-width: 100%;
  object-fit: cover;
}

.main-4 .main-4-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-4 .main-4-title h2 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2;
  padding-right: 2rem;
}

.main-4 .main-4-title p {
  font-size: 1.125rem;
  color: #475467;
  margin-bottom: 0;
}

.main-4 .main-4-title .list-button,
.main-5 .main-5-top .list-button {
  margin-top: 2rem;
}

.main-4 .main-4-title .list-button a,
.main-5 .main-5-top .list-button a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
}

.main-4 .main-4-title .list-button .btn,
.main-5 .main-5-top .list-button a {
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  border: 1px solid #b1bac6;
  font-weight: 600;
  width: fit-content;
  margin: 0 auto;
}

.main-4 .main-4-title .list-button .btn-1 {
  background: #ef6820;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  margin-left: 1rem;
}
.main-4 .main-4-title .list-button .btn-1:hover {
  background: #f38744;
}

.main-5 .main-5-mid {
  padding: 2rem 0;
}

.main-5 .main-5-mid .card-header {
  border-bottom: none;
  padding: 1.45rem 0;
  background: #fff;
}

.main-5 .main-5-mid .card-header button {
  border: none;
  display: flex;
  justify-content: space-between;
  background: none;
}

.main-5 .main-5-mid .card-header button h6 {
  font-weight: 700;
  font-size: 1.25rem;
  transition: all 0.2s;
}
.main-5 .main-5-mid .card-header button:hover h6 {
  color: #ef6820;
}

.main-5 .main-5-mid .card-header button span {
  transform: rotate(90deg);
  transition: all 0.2s;
}

.main-5 .main-5-mid .card-header button.collapsed span {
  transform: rotate(270deg);
}

.main-5 .main-5-mid .card {
  border-left: 0;
  border-right: 0;
}

.main-5 .main-5-mid .card-body {
  color: #475467;
}

.main-5 .main-5-top h3 {
  font-size: 1.5rem;
  font-weight: 600 !important;
  padding: 0 15rem;
  line-height: 1.2;
  text-align: center;
  margin: 2rem 0;
}

.foot-main {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

.foot-main .footer-left {
  width: calc(45% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.foot-main .footer-left .foot-logo a {
  width: 100px;
  margin-bottom: 2rem;
}
.foot-main .footer-left .foot-logo a img {
  max-width: 100%;
  object-fit: cover;
}

.foot-main .footer-left p {
  margin-bottom: 2rem;
}

.foot-main .footer-left .text-muted {
  font-weight: 600;
  opacity: 0.6;
}

.foot-main .footer-right {
  width: calc(55% - 10px);
}

.foot-main .footer-right .items .des {
  color: #ef6820;
  font-weight: 600;
  margin-bottom: 1rem;
}

.foot-main .footer-right .items ul {
  padding-left: 0;
}

.foot-main .footer-right .items ul li {
  list-style: none;
  line-height: 2;
}

.foot-main .footer-right .items ul li a {
  color: #222;
  text-decoration: none;
  transition: all 0.2s;
}
.foot-main .footer-right .items ul li a:hover {
  color: #ef6820;
}

.end {
  padding: 1rem 0;
  color: #252422;
}

.main-2 .main-2-mid .bg-video{
  object-fit: contain;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.main-2 .main-2-mid .bg-video video{
  width: 100%;
  height: 100%;
  margin-top: -1px;
  margin-bottom: -1px;
}

@media (max-width: 992px) {
  .nav-bar {
    padding: 1rem;
  }
  .nav-bar .nav-menu {
    position: fixed;
    left: 0;
    top: -100%;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 10;
    line-height: 2;
  }

  .nav-bar .nav-menu.active {
    top: 3rem;
    padding: 5rem 2rem;
  }

  .nav-bar .hamburger {
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 999;
  }

  .nav-item:last-child {
    margin: 0;
  }

  .main-1 .main-1-top p,
  .main-2 .main-2-top p,
  .main-5 .main-5-top p {
    padding: 0 0rem;
  }

  .main-1 .main-1-mid {
    max-width: 75%;
    margin: 0 auto;
  }

  .main-2 .main-2-top h2,
  .main-3 .main-3-top h2,
  .main-5 .main-5-top h2,
  .main-5 .main-5-top h3 {
    padding: 0;
  }

  .main-3 .main-3-mid ul li {
    padding: 0;
  }

  .main-4 .main-4-img {
    margin-top: 1rem;
  }

  .main-4 .main-4-img img {
    width: 100%;
  }

  .container {
    max-width: 992px;
  }

  .foot-main {
    flex-direction: column;
  }

  .foot-main .footer-left {
    width: 100%;
    margin-bottom: 4rem;
  }

  .foot-main .footer-right {
    width: 100%;
  }
}

@media (max-width: 541px) {
  h1 {
    font-size: 1.75rem !important;
  }
  h2 {
    font-size: 1.5rem !important;
  }
  p {
    font-size: 1rem !important;
  }
  .main-1,
  .main-2,
  .main-3,
  .main-4,
  .main-5 {
    padding: 2rem 0;
  }
  #pills-tab {
    flex-direction: column;
  }
  .main-3 .main-3-mid ul li {
    width: 100%;
  }
  .main-5 .main-5-mid .card-header button h6 {
    font-size: 0.9rem;
  }
  .main-2 .main-2-mid .list-title .items .items-name,
  .main-5 .main-5-top h3 {
    margin: 1rem 0;
  }
  .main-1 .main-1-top a {
    font-size: 1rem;
  }
  .main-2 .main-2-mid {
    margin-bottom: 0;
  }
  .main-1 .main-1-bot p{
    flex-wrap: wrap;
  }
}
